In [24]:
import pandas as pd
import re

In [3]:
train = pd.read_csv('data/raw/train.csv').set_index('PassengerId')
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [40]:
re.match(r'(Miss|Mr|Mrs|Ms)\b', train.Name.iloc[0])

In [18]:
train.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
OneHotEncoder(categories = [3], handle_unknown = 'ignore').fit_transform(train).toarray()
#pd.DataFrame(data_str_ohe)

In [11]:
from sklearn.preprocessing import MultiLabelBinarizer

In [12]:
MultiLabelBinarizer().fit(train.Embarked)

TypeError: 'float' object is not iterable

In [1]:
from sklearn.pipeline import Pipeline

In [ ]:
pipeline = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', SGDClassifier()),
])