In [22]:
import numpy as np
import pandas as pd

In [23]:
train = pd.read_csv('data/clean/train.csv').set_index('PassengerId')
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Cabin_a,Cabin_b,Cabin_c,Cabin_d,Cabin_e,Cabin_f,Cabin_g,Cabin_n
PassengerId,,,,,,,,,,,,,,,,,
1,0,3.0,1.0,22.0,1.0,0.0,7.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,1.0,0.0,38.0,1.0,0.0,71.2833,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,3.0,0.0,26.0,0.0,0.0,7.9250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1.0,0.0,35.0,1.0,0.0,53.1000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0,3.0,1.0,35.0,0.0,0.0,8.0500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [24]:
train.shape

(889, 17)

# Data Split

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x = train.iloc[:, 1:]
y = train.iloc[:, 0]

In [39]:
x_train, x_val, y_train, y_val = train_test_split(x, y, 
                                                  test_size = 0.15, random_state = 823, 
                                                  stratify = ['Pclass', 'Sex', 'Age', 'Survived'])

ValueError: Found input variables with inconsistent numbers of samples: [889, 4]

In [28]:
(x_train.shape, y_train.shape)

((755, 16), (755,))

In [29]:
(x_val.shape, y_val.shape)

((134, 16), (134,))

# Cross Validation

In [36]:
from sklearn.model_selection import cross_validate

# Naive Bayes

In [30]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_validate

In [31]:
model_naive_bayes = GaussianNB().fit(x_train, y_train)
model_naive_bayes

GaussianNB(priors=None, var_smoothing=1e-09)

In [33]:
model_naive_bayes.score(x_train, y_train)

0.6980132450331126

In [38]:
cross_validate(model_naive_bayes, x_train, y_train, cv=5)['test_score']

array([0.68211921, 0.64900662, 0.68874172, 0.71523179, 0.75496689])

In [34]:
model_naive_bayes.score(x_val, y_val)

0.7238805970149254

# Result

In [ ]:
test = pd.read_csv('data/raw/test.csv').set_index('PassengerId')
test.head()

In [ ]:
#result.to_csv('result.csv', index = False)